// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.custom-popover-warrior {
    --bs-popover-border-color: var(--bs-red);
    --bs-popover-header-bg: var(--bs-red);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-max-width: 500px;

}

.custom-popover-wizard {
    --bs-popover-border-color: var(--bs-blue);
    --bs-popover-header-bg: var(--bs-blue);
    --bs-popover-header-color: var(--bs-white);
}

.custom-popover-monk {
    --bs-popover-border-color: var(--bs-orange);
    --bs-popover-header-bg: var(--bs-orange);
    --bs-popover-header-color: var(--bs-black);
}

.custom-popover-ninja {
    --bs-popover-border-color: var(--bs-black);
    --bs-popover-header-bg: var(--bs-black);
    --bs-popover-header-color: var(--bs-white);
}